@font-face {
  font-family: RubikReg;
  src: url(../fonts/Rubik/static/Rubik-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: RubikBold;
  src: url(../fonts/Rubik/static/Rubik-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Staatliches;
  src: url(../fonts/Staatliches/Staatliches-Regular.ttf);
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  background-color: #000;
  background-image: url("../images/background2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 12px;
  padding-bottom: 3%;
}

h1 {
  font-family: "Staatliches", sans-serif;
  font-style: normal;
  color: #fff;
  font-size: clamp(2.5rem, 6vw, 5rem);
  font-weight: 400;
  text-align: center;
}

h2 {
  font-family: "RubikBold", sans-serif;
  font-style: bold;
  font-weight: 700;
  color: #fff;
  font-size: clamp(1.25rem, 2.25vw, 2.5rem);
  margin: 1% 0 1% 0;
}

p {
  font-family: "RubikReg", sans-serif;
  font-style: normal;
  color: #fff;
  font-size: clamp(0.75rem, 1.5vw, 1.25rem);
  margin: 0 0 1% 0;
}

img {
  vertical-align: middle;
}

.wrapper { 
  width: 80vw;
  margin: 0 auto; 
  text-align: left;
  max-width: 1373px;
  min-width: 256px;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden; /* To prevent overflow if image exceeds bounds */
  text-align: center;
}

.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/banner_test.jpg);
  position: relative;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  display: flex;
  margin: 0 auto;
}

.hero-container > h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1200px){
  .hero-container{
    max-height: 150px;
  }
}

@media only screen and (max-width: 900px){
  .hero-container{
    max-height: 125px;
  }
}

@media only screen and (max-width: 600px){
  .hero-container{
    max-height: 100px;
  }
}

nav {
  background-color: #9bddff;
  width: 100%;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.nav-menu li {
  flex-grow: 1;
  text-align: center;
  border-right: 2px solid #dbf4ff;
  display: inline-block;
  padding: 0 0;
}

.nav-menu li:last-child {
  border-right: 0;
}

.nav-menu li a {
  display: block;
  padding: 1% 0;
  text-align: center;
  text-decoration: none;
  font-family: "RubikReg", sans-serif;
  font-style: normal;
  color: black;
  font-size: clamp(0.5rem, 2vw, 30px);

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-menu li a:hover {
  background-color: #6dd8ff;
}

.grid_left, .grid_right {
  display: grid;
  position: relative;
  place-items: center;;
  padding: 1% 1% 2% 1%;
  margin-top: 2%;
  gap: 2%;
  background: rgba(0, 0, 0, 0.55);
  color: #ffffff;
}

.grid_left {
  grid-template-columns: 69% 29%;
}

.grid_right {
  grid-template-columns: 29% 69%;
}

.caption_right {
  text-align: right;
}

.caption_left {
  text-align: left;
}

.slideshow_container {
  position: relative;
}
  
.slideshow_1, .slideshow_2 {
  display: none;
  max-height: 500px;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slideshow_1 img, .slideshow_2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev_1, .next_1, .prev_2, .next_2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next_1, .next_2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: clamp(0.5rem, 1vw, 1.25rem);
  width: clamp(0.5rem, 1vw, 1.25rem);
  background-color: #696969;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ffffff;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 600px){
  .grid_left, .grid_right {
    grid-template-columns: 1fr;
  }

  .caption_right, .caption_left {
    text-align: center;
  }

  .caption_left {
    grid-row: 1;
  }
}