@font-face {
  font-family: RubikReg;
  src: url(../fonts/Rubik/static/Rubik-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: RubikBold;
  src: url(../fonts/Rubik/static/Rubik-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Staatliches;
  src: url(../fonts/Staatliches/Staatliches-Regular.ttf);
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  background-color: #000;
  background-image: url("../images/background8.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 12px;
  padding-bottom: 3%;
}

h1 {
  font-family: "Staatliches", sans-serif;
  font-style: normal;
  color: #fff;
  font-size: clamp(2.5rem, 6vw, 5rem);
  font-weight: 400;
  text-align: center;
}

h2 {
  font-family: "RubikBold", sans-serif;
  font-style: bold;
  font-weight: 700;
  color: #fff;
  font-size: clamp(1rem, 2.5vw, 2.75rem);
  margin: 1% 0 1% 0;
}

p {
  font-family: "RubikReg", sans-serif;
  font-style: normal;
  color: #fff;
  font-size: clamp(0.5rem, 1.25vw, 1.75rem);
  margin: 0%;
}

img {
  vertical-align: middle;
}

.wrapper { 
  width: 80vw;
  margin: 0 auto; 
  text-align: left;
  max-width: 1373px;
  min-width: 256px;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden; /* To prevent overflow if image exceeds bounds */
  text-align: center;
}

.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/banner_test.jpg);
  position: relative;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  display: flex;
  margin: 0 auto;
}

.hero-container > h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1200px){
  .hero-container{
    max-height: 150px;
  }
}

@media only screen and (max-width: 900px){
  .hero-container{
    max-height: 125px;
  }
}

@media only screen and (max-width: 600px){
  .hero-container{
    max-height: 100px;
  }
}

nav {
  background-color: #9bddff;
  width: 100%;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.nav-menu li {
  flex-grow: 1;
  text-align: center;
  border-right: 2px solid #dbf4ff;
  display: inline-block;
  padding: 0 0;
}

.nav-menu li:last-child {
  border-right: 0;
}

.nav-menu li a {
  display: block;
  padding: 1% 0;
  text-align: center;
  text-decoration: none;
  font-family: "RubikReg", sans-serif;
  font-style: normal;
  color: black;
  font-size: clamp(0.5rem, 2vw, 30px);

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-menu li a:hover {
  background-color: #6dd8ff;
}

.grid_left, .grid_right {
  position: relative;
  padding: 1%;
  margin-top: 2%;
  background: rgba(0, 0, 0, 0.55);
  color: #ffffff;
  max-height: 60vh;
}

.grid_left {
  display: grid;
  grid-template-columns: 64% 34%;
  gap: 2%;
  text-align: left;
}

.grid_right {
  display: grid;
  grid-template-columns: 34% 64%;
  gap: 2%;
  text-align: right;
}

.figure {
  overflow: hidden;
}

.figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1%;
}